* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;

}

.spotifyLogo{
	fill: white;
}
.headbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  height: 60px;
}

.headbar .logo img {
  width: 30px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-btn {
  background-color: #333;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 30px;
  padding: 12px;
  width: 400px;
  gap: 10px;
}

.search-bar-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.search-bar input {
  background: transparent;
  border: none;
  color: white;
  flex: 1;
  outline: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.signup {
  color: gray;
  text-decoration: none;
  
}



.login-btn {
  background-color: white;
  color: black;
  padding: 16px 34px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}


.layout {
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: 1fr;
  height: calc(100vh - 140px);
}

.sidebar {
  background-color: #121212;
  padding: 10px;
  border-radius: 4px;
  max-width: 700px;
  grid-area: 1 / 1 / 2 / 2;
}


.sidebarDeel {
	background-color:#1f1f1f;
	height: fit-content;
	padding: 10px;
	border-radius: 4px;
	align-self: center;
  margin-bottom: 24px;
}
.sidebarDeel *{
  margin-bottom: 12px;
}

.sidebarDeel2 {
  background-color:#1f1f1f;
  height: fit-content;
  padding: 12px;
  border-radius: 4px;
  align-self: center;
}

.sidebarDeel2 > *{
  margin-bottom: 12px;

}
.sidebarTitel{
	display:flex;
	color: #999;
	margin-bottom: 20px;

}
.libaryIcon{
	fill: #999;
	height: 24px;
	margin-right: 12px;
}
.plusIcon{
	height: 14.5px;
	fill: #999;
	margin-left: auto;
	margin-right: 24px;
}
.sidebarButton {
  all:unset;
  background-color:#FFF;
  color: black;
  border-radius: 36px;
  padding: 6px 12px;
}

.sidebarFooter {
  flex-wrap: wrap;
	display: flex;
  position: relative;
  margin-top: auto;
  margin-bottom: 12px;
  margin: 32px 0;
  padding: 0 24px;
  border:0;
}
.sidebarFooter *{
	margin-right: 6px;
}

.h6class {
  margin-right: 16px;
}


.hoofdText {
  font-size: 18px;
}


.subText {
 font-size: 12px;
 color:#999;
}

.content {
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
  scrollbar-width: auto;
  flex-direction:row;
  padding: 20px;
  background-color: #212121;
  border-radius: 12px;
  margin-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
  background: #1f1f1f;
  background: linear-gradient(180deg, #1f1f1f 0%, rgba(18, 18, 18, 1) 69%);
  background-color: linear-gradient(
    180deg,
    rgba(#fff, 1) 0%,
    rgba(18, 18, 18, 1) 69%
  );
  

  
}

.artist-grid,
.album-grid { 
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 40px;
  flex-direction: row;
}

.artist-grid img{
  border-radius: 50%;
  width: 170px;

}
.album-grid img {
  width: 150px;
  border-radius: 15px;
  
}

.popular-artists{
  margin-bottom: 1px;
}

.input-icon-wrapper {
  border-left: 1px solid white;
  padding-left: 16px;
}
.main{
  height: 80%;
}
.mainTitel{
  display:flex;
  justify-content: space-between;
}
.main h5,a{
  all: unset
}

.input-icon {
  height: 24px;
  width: 24px;
  fill: white;
}


.mainFooter {
  
  color: #666;  
}
.mainFooterStuk{
  display: flex;
  padding-bottom: 200px;
  justify-content: space-between;
  border-bottom: #2f2f2f solid 1px;
}
.mainFooterTitel{
  color: white !important;
  font-weight: 700 !important;
}
.mainFooterDeel{
  display:flex;
  flex-direction: column;
}



.footer {
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  height: fit-content;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin-top: 12px;
}

.footer * {
  margin: 6px;
}

.loginButtonFooter {
  all: unset;
  color: black;
  background-color: white;
  border-radius: 24px;
  padding: 12px 32px;
  height: 24px;
  position: relative;
  margin-left: auto;
  margin-right: 24px;
}

.footerText {
  font-weight: 400;
  font-size: 12px
}


.playButton {
  height: 24px;
  border-radius: 50%;
  margin-right: 12px;
  padding: 12px;
  background-color: green;
  position: absolute;
  right: 6px;
  top: 152px;
  visibility: hidden;
  opacity: 0;

}
.playButton:hover{
  background-color: green;

}
.albumfotos:hover .playButton {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 250ms;
}

.albumfotos{
  position: relative;
}

.hoverOnderlijn:hover{
  text-decoration-line:underline ;
  cursor: pointer;
}
.hoverWit:hover{
  color: #FFF;
}

.hoverBigger:hover{
  scale: 1.03;
  transition: all, 0.1s;
  cursor: pointer;

}
.fotogrijs{
  border-radius: 10px;
  padding: 8px;
}

.hoverBackground:hover{
  background-color: #2f2f2f;

}



.taalIcoon{
  height: 16px;
  fill: #FFF;
}

.taalButton{
  padding: 6px 12px;
  width:fit-content ;
  display: flex;
  border:1px white solid;
  border-radius: 24px;

}

.sociaalicon{
  fill: white;
  height: 18px;
  margin: unset;
}
.sociaaliconBorder{

  background-color: #2f2f2f;
  border-radius: 50%;
  padding: 12px;
  height: fit-content;

}

.rightsFooter{
  margin-top: 36px;
  color:#666;
}